* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .contenedorIMG {
    height: 320px;
    border: 1px solid black;
  }
  
  .banner {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  
  .logo {
    width: 180px;
    position: absolute;
    left: 80%;
    top: 120px;
    background-color: transparent;
  }
  
  h1 {
    position: absolute;
    margin-top: 220px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 45px;
    color: rgb(245,216,46);
    text-shadow: -2px 0px 0px rgb(95,161,153);
    background-color: transparent;
    -webkit-text-stroke: 1px rgb(198,72,50);
  }
  
  nav {
    position: absolute;
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    top: 0px;  
  }
  
  nav a {
    display: block;
    font-size: 135%;
    color: rgb(248, 225, 46);
    text-decoration: none;
    margin: 16px;
    background-color: black;    
  }
  
  nav a:hover {
    color: rgb(95, 161, 153);
    text-decoration: underline;
  }
  
  .active {
    color: rgb(95, 161, 153);
  }
  
  h2 {
    background-color: black;
    margin-top: 15px;
    margin-bottom: 8px;
    color: rgb(245,216,46);
    text-shadow: -2px 0px 0px rgb(95,161,153);    
    -webkit-text-stroke: 0.5px rgb(198,72,50);    
    text-align: center;
    font-size: 35px;
  }
  
  .sectionIndex {
    position: absolute;
    width: 80%;
    top: 400px;
    left: 35%;
  }
  
  .sectionAbout {
    position: absolute;
    width: 80%;
    top: 400px;
    left: 35%;
  }
  
  .sectionContact {
    position: absolute;
    width: 60%;
    top: 450px;
    left: 35%;
  }
  
  article {
    margin-bottom: 15px;
  }
  
  h3 {
    color: rgb(245,216,46);
    font-size: 25px;
    width: 50%;
    text-shadow: -2px 0px 0px rgb(95,161,153);
  }
  
  p {
    color: rgb(95, 161, 153);
    text-indent: 30px;
    width: 50%;
    font-size: 20px;
  }
  
  p > a {
    color: rgb(245,216,46);
  }
  


